// Body

// color theme
// https://colorhunt.co/palette/fba1b7ffd1dafff0f5ffdbaa


$col1: #EAC696;
$col2: #C8AE7D;
$col3: #765827;
$col4: #65451F;
$body-bg: #fdf1e1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
